*{
    font-size: 18px;
    color:#2D3748;
    font-family: -apple-system,BlinkMacSystemFont,"SegoeUI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sansserif; 
}

.container{
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-rows: 2;
    column-gap: 10%;
    width: 100%;
    margin: 0 auto;
    
}

header{
    display: flex;
    flex-direction: column;
    background-color: #63B3ED;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    padding: 20px 20px 20px 20px;
}

header h1{
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header-img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#blog-info{
    color: #718096;
}

#blog1-img{
    float:left;
    position: relative;
    max-height: 500px;
    max-width: 500px;
    margin: 10px 10px 10px 10px;
    object-fit: contain;
}

article {
    grid-column: 1;
}

article h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

article p{
    overflow-wrap: break-word;
}

.divider-line{
    border-top: 1px solid black;
}

aside{
    grid-column: 2;
    grid-row: 2;
    float: right;
}

.about-section{
    background-color: #E2E8F0;
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
    color: #000000;
    text-align: justify;
}

.socials-section, .archives-section{
    color: #48BB78;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}

.socials-section li a, .archives-section li a{
    color:#4299E1
}

footer{
    background-color: #2C5282;
    color: #FFFFFF;
    grid-column: 1/3;
    text-align: center;
}